<div class="container">
  <div fxLayoutAlign.gt-lg="end">
    <button class="add-btn" mat-raised-button>NOVA ASSINATURA</button>
  </div>
  <div fxLayoutGap.gt-lg="0.4em">
    <mat-form-field appearance="fill" fxFlex.gt-lg="10">
      <mat-label>Pesquisa</mat-label>
      <mat-select>
        <mat-option value="one">Cliente</mat-option>
        <mat-option value="two">Plano</mat-option>
        <mat-option value="two">Status</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex.gt-lg="90">
      <mat-label>Digite aqui sua pesquisa...</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
  <app-table [columns]="columns" [data]="data"></app-table>
</div>
