<app-modal [formGroup]="form">
  <div fxLayout="column" fxLayoutGap=".1em">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Plano</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input matInput placeholder="R$0.00" type="text" formControlName="price">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrição do plano</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="savePlanAsync()">SALVAR</button>
    <button mat-button mat-dialog-close>CANCELAR</button>
  </div>
</app-modal>
