<div class="container">
  <div fxLayoutAlign="end">
    <button class="add-btn" (click)="goToPlansForm()" mat-raised-button>NOVO PLANO</button>
  </div>
  <div fxLayoutGap="0.4em">
    <mat-form-field appearance="fill" fxFlex="10">
      <mat-label>Pesquisa</mat-label>
      <mat-select>
        <mat-option value="one">Nome</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="90">
      <mat-label>Digite aqui sua pesquisa...</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
  <app-table [columns]="columns" [data]="data"></app-table>
</div>
