<app-modal>
  <div fxLayout="column" fxLayoutGap=".1em">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Plano</mat-label>
      <mat-select>
        <mat-option value="one">Plano Comum</mat-option>
        <mat-option value="two">Plano Premium</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="saveCustomer()">SALVAR</button>
    <button mat-button mat-dialog-close>CANCELAR</button>
  </div>
</app-modal>
