.sidenav-container {
  $transition-duration: 0.3s;
  background-color: #c2c2c2;
  height: 100%;
  padding: 1em 0;

  -webkit-box-shadow: 8px -1px 16px -1px rgba(0,0,0,0.36);
  box-shadow: 8px -1px 16px -1px rgba(0,0,0,0.36);

  .sidenav-logo {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    .logo {
      cursor: pointer;
      width: 10vw;
    }
  }

  .list-container {
    margin-top: 10em;
    width: 100%;
    font-weight: 500;
    font-size: 20px;

    .list-item,
    .list-item-logout {
      padding: 0 1em;
      height: 70px;
      margin-top: 1em;
    }

    .list-item-selected {
      color: white;
      background-color: #F44336;
    }

    .list-item:hover {
      transition: background-color $transition-duration;
      background-color: #b1b1b1;
      cursor: pointer;
    }

    .list-item-logout {
      position: absolute;
      bottom: 1em;
    }

    .list-item-logout:hover {
      transition: color 0.2s;
      cursor: pointer;
      color: #fff;
    }
  }
}
