.sidenav-container {
  $transition-duration: 0.5s;
  background-color: #c2c2c2;
  height: 100%;
  padding: 1em 0;

  -webkit-box-shadow: 8px -1px 16px -1px rgba(0,0,0,0.36);
  box-shadow: 8px -1px 16px -1px rgba(0,0,0,0.36);

  .sidenav-logo {

  }
  .list-container {
    margin-top: 10em;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    .list-item {
      padding: 0 1em;
      margin-top: 2em;
    }
    .list-item-selected {
      color: white;
    }
    .list-item:hover {
      transition: background-color $transition-duration;
      cursor: pointer;
      color: white;
    }
  }
}
