table {
  width: 100%;
  color: black !important;
  background-color: #ECEBEB;

  th {
    padding: 0 1em;
    font-weight: bold;
    color: black !important;
    background-color: #d6d6d6;
  }
  td {
    height: 32px;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  tr:hover {
    background-color: #dbdbdb;
  }
  tr.mat-row {
    height: 3em;
  }
  tr.mat-header-row {
    height: 3em;
  }

  td.table-actions {
    margin-right: 1em;
    margin-left: -5em;
    margin-top: 0.7em;
    padding: 0 1em;
    color: #505050;
    height: 100%;

    button.table-action-btn:hover {
      background-color: #c4c4c4;
    }
  }

}
