.login-container {
  width: 40%;
  background-color: #F5F5F5;
  padding: 5em;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 29px -7px rgba(0,0,0,0.77);
  box-shadow: 5px 5px 29px -7px rgba(0,0,0,0.77);
}

.login-input {
  background-color: white;
}
.logo-container {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  .logo {
    width: 12vw;
  }
}
